In [1]:
import pandas as pd

In [3]:
pd.read_parquet("../../Downloads/934c1857ef36c80aabb21e971c942723_google-news-serp-1719219321_transform_output.parquet")

         date  value
0  2019-01-01   4650
1  2019-04-01   5340
2  2019-07-01   6690
3  2019-10-01   5340
4  2020-01-01   5130
5  2020-04-01   5610
6  2020-07-01   5520
7  2020-10-01   7190
8  2021-01-01   5760
9  2021-04-01   5450
10 2021-07-01   5670
11 2021-10-01   6640
12 2022-01-01   6730
13 2022-04-01   7080
14 2022-07-01   5420
15 2022-10-01   5990
16 2023-01-01   7800
17 2023-04-01   9230
18 2023-07-01  12800
19 2023-10-01  10700
20 2024-01-01  11100